<h3>Coupon Form</h3>

<%= form_tag coupons_path do %>
<label> Coupon code: </label>
<h1><%= text_field_tag "coupon[coupon_code]" %></h1><br>

<label> Store: </label>
<h1><%= text_field_tag "coupon[store]"%></h1><br>
<%= params.inspect%> 
<%= submit_tag "Submit Coupon" %>
    <% end %>
